@charset "utf-8";

/* Jost Sans */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
    color: var(--color-b);
    text-transform: capitalize;
}

/***** ader-main *****/
.ader-main .main-txtWrapper {
    padding: 170px 70px 0;
}
.ader-main h1 {
    padding-bottom: 65px;
    font-size: 120px;
    font-weight: var(--weight-md);
}
.ader-main .main-txt {
    display: flex;
    /* justify-content: space-between; */
}
.ader-main .main-txt .txt1,
.ader-main .main-txt .txt2,
.ader-main .main-txt .txt3,
.ader-main .main-txt .txt4 {
    width: 20%;
    font-family: var(--primary-font-ko);
    font-weight: var(--weight-md);
    line-height: 1.5;
}
.ader-main .main-txt .txt2, .txt4 {
    margin-left: 20px;
}
.ader-main .main-txt .txt3 {
    margin-left: 500px;
}

.ader-main .main-txt .txt1 p,
.ader-main .main-txt .txt2 p,
.ader-main .main-txt .txt3 p,
.ader-main .main-txt .txt4 p {
    color: var(--color-g);
}

.ader-main .main-content {
    width: 100%;
    margin-top: 25px;
    padding: 100px;
    background-color: var(--color-b);

    display: flex;
    justify-content: center;
    align-items: center;
}
.ader-main .main-content video {
    width: 90%;
    background-color: var(--color-b);
    border-radius: 10px;
}

/***** ader-overview *****/
.ader-overview {
    padding: 160px 70px 0;
}
.ader-overview .overview-title h3 {
    padding-bottom: 50px; 
    font-weight: var(--weight-md);
}
.ader-overview .overview-title h2 {
    width: 80%;
    font-family: var(--primaty-font-ko);
    font-size: 50px;
    font-weight: var(--weight-md);
    line-height: 1.4;
}

/*** highlight ***/
.highlight {
    padding: 0 5px;
    position: relative;
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(to right, #0000c5 100%, transparent 0%);
    background-position: 0 100%;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1.5s ease-in-out;
}
.animate {
    background-size: 100% 100%;
}


/*** 목표, 기여도 ***/
.ader-overview .overview-txt .txt1 {
    padding: 130px 0 80px 340px;
    display: flex;
}
.ader-overview .overview-txt .txt1 .goal img,
.ader-overview .overview-txt .txt1 .contribute img {
    padding-left: 20px;
}
.ader-overview .overview-txt .txt1 .goal h3,
.ader-overview .overview-txt .txt1 .contribute h3 {
    padding-bottom: 20px;
    font-weight: var(--weight-md);
}
.ader-overview .overview-txt .txt1 .goal p,
.ader-overview .overview-txt .txt1 .contribute p {
    padding-left: 20px;
    font-size: 20px;
    line-height: var(--lineHeight-md); /* 1.8 */
}

.ader-overview .overview-txt .txt1 .goal .list {
    margin: 12px 0 12px 0;
    font-size: 16px;
    color: var(--color-g);
}

/*** 작업순서 ***/
.ader-overview .overview-txt .txt2 {
    padding-left: 340px;
    overflow: hidden;
}
.ader-overview .overview-txt .txt2 .workflow h3 {
    padding-bottom: 20px;
    font-weight: var(--weight-md);
}
.ader-overview .overview-txt .txt2 .workflow img {
    padding-left: 20px;
}
.ader-overview .overview-txt .txt2 .workflow .weeks {
    padding-left: 20px;
    display: flex;
}
.ader-overview .overview-txt .txt2 .workflow .weeks h4 {
    width: 360px;
    font-weight: var(--weight-md);
    font-size: 20px;
    line-height: var(--lineHeight-md);
}
.ader-overview .overview-txt .txt2 .workflow .weeks .w1 p,
.ader-overview .overview-txt .txt2 .workflow .weeks .w2 p,
.ader-overview .overview-txt .txt2 .workflow .weeks .w3 p {
    margin: 12px 0 12px 0;
    font-size: 16px;
    color: var(--color-g);
}

/***** ader-publishing *****/
/*** 디자인 ***/
.ader-publishing .design {
    padding: 130px 70px 0 70px;
    display: flex;
}
.ader-publishing .design .keyword {
    width: 700px;
    height: 800px;
    padding: 200px 175px;
    background-color: #0000c5;
}
.ader-publishing .design .keyword .keyword-box {
    width: 350px;
    height: 393px;
    border-radius: 20px;
    background-color: var(--color-w);
    font-size: 20px;
}
.ader-publishing .design .keyword .keyword-box h3 {
    font-weight: var(--weight-sb);
    padding: 80px 90px 50px 60px;
}
.ader-publishing .design .keyword .keyword-box p {
    width: 200px;
    margin: 0 60px 20px;
    padding: 10px 0 10px 20px;
    font-family: var(--primaty-font-ko);
    font-weight: var(--weight-sb);
    background-color: #f3f3f3;
    color: #0000c5;

    border-radius: 30px;
}

/*** 내용 ***/
.ader-publishing .content .typeColor {
    width: 1060px;
    height: 620px;
    margin-left: 20px;
    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;
}

/* type */
.ader-publishing .content .typeColor .typeColor-box {
    font-size: 20px;
    margin-left: 70px;
    flex: 1;
}
.ader-publishing .content .typeColor .typeColor-box .type {
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
}
.ader-publishing .content .typeColor .typeColor-box .type h3 {
    width: 170px;
    font-weight: var(--weight-sb);
}
.ader-publishing .content .typeColor .typeColor-box .type .ko,
.ader-publishing .content .typeColor .typeColor-box .type .en {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ader-publishing .content .typeColor .typeColor-box .type .en h4 {
    padding-left: 60px;
}
.ader-publishing .content .typeColor .typeColor-box .type .ko h4,
.ader-publishing .content .typeColor .typeColor-box .type .en h4 {
    font-weight: var(--weight-md);
    color: var(--color-g);
    text-transform: lowercase;
}

/* font-weight */
.ader-publishing .content .typeColor .typeColor-box .type .ko .font p:nth-of-type(1) {
    font-weight: var(--weight-rg);
}
.ader-publishing .content .typeColor .typeColor-box .type .ko .font p:nth-of-type(2) {
    font-weight: var(--weight-md);
}
.ader-publishing .content .typeColor .typeColor-box .type .ko .font p:nth-of-type(3) {
    font-weight: var(--weight-sb);
}
.ader-publishing .content .typeColor .typeColor-box .type .ko .font p:nth-of-type(4) {
    font-weight: var(--weight-bo);
}

.ader-publishing .content .typeColor .typeColor-box .type .ko .font,
.ader-publishing .content .typeColor .typeColor-box .type .en .font {
    padding-left: 40px;
    font-family: var(--primaty-font-ko);
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}
.ader-publishing .content .typeColor .typeColor-box .type .en .font p:nth-child(1) {
    font-family: 'Jost', sans-serif;
}
.ader-publishing .content .typeColor .typeColor-box .type .en .font p:nth-child(2) {
    font-family: 'Jost', sans-serif;
    font-weight: var(--weight-md);
}
.ader-publishing .content .typeColor .typeColor-box .type .en .font p:nth-child(3) {
    font-family: 'Jost', sans-serif;
    font-weight: var(--weight-sb);
}
.ader-publishing .content .typeColor .typeColor-box .type .en .font p:nth-child(4) {
    font-family: 'Jost', sans-serif;
    font-weight: var(--weight-bo);
}

/* color */
.ader-publishing .content .typeColor .color {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
}
.ader-publishing .content .typeColor .color h3 {
    width: 170px;
    font-size: 20px;
    font-weight: var(--weight-sb);
}
.ader-publishing .content .typeColor .color div {
    width: 130px; height: 165px;
    padding: 110px 0 0 15px;
    font-size: 16px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}
.ader-publishing .content .typeColor .color div:nth-of-type(2),
.ader-publishing .content .typeColor .color div:nth-of-type(3),
.ader-publishing .content .typeColor .color div:nth-of-type(4) {
    margin-left: 35px;
}
.ader-publishing .content .typeColor .color .color1 {
    background-color: var(--color-w);
}
.ader-publishing .content .typeColor .color .color2 {
    background-color: #f3f3f3;
}
.ader-publishing .content .typeColor .color .color3 {
    background-color: #0000c5;
    color: var(--color-w);
}
.ader-publishing .content .typeColor .color .color4 {
    background-color: #000000;
    color: var(--color-w);
}

/* 설명 */
.ader-publishing .content .txt {
    margin: 60px 0 0 360px;
    flex: 1;
}

/*** 퍼블리싱 내용 ***/
.ader-publishing .publishing {
    padding: 130px 70px 0 410px;
    display: flex;
}
.ader-publishing .publishing .txt1 h3 {
    margin-bottom: 20px;
    font-weight: var(--weight-md);
}
.ader-publishing .publishing .txt1 img {
    padding-left: 20px;
}
.ader-publishing .publishing .txt1 p {
    padding-left: 20px;
    font-family: var(--primaty-font-ko);
    font-size: 20px;
    line-height: 1.8;
}

.ader-publishing .publishing .txt2 h3 {
    color: transparent;
    margin-bottom: 20px;
    font-weight: var(--weight-md);
}
.ader-publishing .publishing .txt2 > img {
    padding-left: 20px;
}
.ader-publishing .publishing .txt2 p {
    padding-left: 20px;
    font-size: 20px;
}
.ader-publishing .publishing .txt2 p span img {
    padding-left: 10px;
    animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* 수정 필요.................. */
/*** 리뷰 ***/
.ader-publishing .review {
    margin-top: 180px;
    padding: 100px 0 0 70px;
    display: flex;

    background-color: var(--color-b);
    color: var(--color-w);
}
.ader-publishing .review h2 {
    font-size: 50px;
    font-weight: var(--weight-md);
}
.ader-publishing .review .txt {
    width: 90%;
    font-size: 20px;
    font-family: var(--primary-font-ko);
    padding-left: 175px;
}
.ader-publishing .review .txt h3:first-of-type {
    padding-top: 10px;
}
.ader-publishing .review .txt h3 {
    line-height: 1.5;
    font-weight: var(--weight-md);
}
.ader-publishing .review .txt p {
    line-height: 1.5;
}
.ader-publishing .review .txt .last {
    padding-bottom: 100px;
}

/*** 결과물 링크/파일 ***/
.ader-publishing .document {
    padding: 130px 0 250px 1150px;
    font-size: 20px;
}
.ader-publishing .document p {
    padding-bottom: 15px;
}
.ader-publishing .document p span img {
    padding-left: 10px;
    animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
}

/***** next project *****/
.next-project {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.next-project .pj-title {
    padding-top: 300px;
    text-align: center;
    font-size: 150px;

    position: absolute;
    z-index: -1;

    display: flex;
    white-space: nowrap;
    /* animation: marquee 300s linear infinite; */
}
/* @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
} */

.next-project .thumbnail a {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.next-project .thumbnail a > img {
    width: 100%;
    height: 850px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;

    transition: 0.3s ease-in-out;
}
.next-project .thumbnail p {
    padding: 30px 0 130px 0;
    font-size: 20px;
}
.next-project .copyright {
    text-align: center;
}


/***** back-to-top *****/
.back-to-top { 
    position: absolute;
    right: 70px;
    bottom: 50px;
}
.back-to-top img {
    width: 50px;
    transition: 0.2s ease-in-out;
}
.back-to-top a img:hover {
    scale: 1.1;
}